<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><%=dayOfWeek%></h1>
    </div>

    <div class="box">
        <% newTask.forEach((e)=>{ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="hidden" name="address" value = "<%= dayOfWeek %>"></input>
                    <input type="checkbox" onChange="this.form.submit()" value="<%=e._id%>" name ="delete" ></input>
                    <p><%=e.task%></p>
                </div>
            </form>
        <%})%>

        <form action="/" method="post" class="item">
            <input type="text" name="addTask" id="" placeholder="Nueva tarea" autocomplete="off" autofocus></input>
            <button type="submit" name="list" value ="<%= dayOfWeek %>">+</button>
        </form>
    </div>
</body>
<footer>
        &copy Sergio Bethencourt
</footer>
 

     
</html>